// .card {
//     height: 512px;
// }

.card-img-top{
    height: 50%;
    width: 50%;
    margin-left: 26%;
    // margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 5%;
    // float: center;
    // padding-left: 175px;
    border-radius: 20px;
}