<!--FACEBOOK    INSTAGRAM   TWITTER     YOUTUBE     EMAIL   WEBSITE-->
<div class="container mt-3">
    <div class="row m-3 p-3">
        <div class="col-md-4 mt-2">
            <div class="card text-center">
                <img src="../../../assets/logos/email-icon.png" class="card-img-top" alt="e-mail">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Lakshmi Janardana Idol & Temple</h5>
                  <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p> -->
                  <a href="mailto:contact.ssljssdtmtt@gmail.com" class="btn btn-secondary" title="contact.ssljssdtmtt@gmail.com">Click Here</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card text-center">
                <img src="../../../assets/logos/website-icon.png" class="card-img-top" alt="website">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Lakshmi Janardana Idol & Temple</h5>
                  <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p> -->
                  <a href="/home" class="btn btn-secondary" title="Website">Click Here</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card text-center">
                <img src="../../../assets/logos/youtube-logo.png" class="card-img-top" alt="youtube">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Dakshina Kali Mata Idol & Temple</h5>
                  <p class="card-text">We accept donations in offline through A/C Payee Cheques, Demad Drafts and Money Order.</p> -->
                  <a href="#" class="btn btn-secondary" title="Youtube - Opens in an external tab" target="_blank">Click Here</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row m-3 p-3">
        <div class="col-md-4 mt-2">
            <div class="card text-center">
                <img src="../../../assets/logos/facebook-logo2.png" class="card-img-top" alt="facebook">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Lakshmi Janardana Idol & Temple</h5>
                  <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p> -->
                  <a href="https://facebook.com" class="btn btn-secondary" title="Facebook - Opens in an external tab" target="_blank">Click Here</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card text-center">
                <img src="../../../assets/logos/logo-black.png" class="card-img-top" alt="twitter">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Lakshmi Janardana Idol & Temple</h5>
                  <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p> -->
                  <a href="https://twitter.com" class="btn btn-secondary" title="Twitter - Opens in an external tab" target="_blank">Click Here</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card text-center">
                <img src="../../../assets/images/logos/instagram-logo.png" class="card-img-top" alt="instagram">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Dakshina Kali Mata Idol & Temple</h5>
                  <p class="card-text">We accept donations in offline through A/C Payee Cheques, Demad Drafts and Money Order.</p> -->
                  <a href="https://instagram.com/" class="btn btn-secondary" title="Instagram - Opens in an external tab" target="_blank">Click Here</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row m-3 p-3">
      <div class="col-md-4 mt-2">
          <div class="card text-center">
              <img src="../../../assets/logos/address-pin-icon.png" class="card-img-top" alt="Address">
              <div class="card-body">
                <a href="https://shorturl.at/mvwIU" class="btn btn-secondary" title="Google Maps - Opens in an external tab" target="_blank">Click Here</a>
              </div>
            </div>
      </div>
      <div class="col-md-4 mt-2">
          <div class="card text-center">
              <img src="../../../assets/logos/whatsapp-logo.png" class="card-img-top" alt="WhatsApp">
              <div class="card-body">
                <a href="https://web.whatsapp.com" class="btn btn-secondary" title="WhatsApp - Opens in an external tab" target="_blank">Click Here</a>
              </div>
            </div>
      </div>
      <div class="col-md-4 mt-2">
          <div class="card text-center">
              <img src="../../../assets/logos/snapchat-logo.png" class="card-img-top" alt="Snapchat">
              <div class="card-body">
                <a href="https://web.snapchat.com/" class="btn btn-secondary" title="Snapchat - Opens in an external tab" target="_blank">Click Here</a>
              </div>
            </div>
      </div>
  </div>
</div>