<div class="container mt-3" style="width: 100%;">
    <div class="alert alert-info" role="alert">
        <h4 class="text text-center fw-bold">SOME IMPORTANT INFORMATION</h4>
        <ul>
            <li class="text fw-bold">Instruction for Indian Donors</li>
            <ul>
                <li>The minimum donation for online donation is &#x20B9;. 100/-</li>
                <li><strong>PAN</strong> or Aadhaar Number is required for donations below &#x20B9;. 10,000/-</li>
                <ul>
                    <li><u><strong>PAN is mandatory</strong></u> for donations above &#x20B9;. 10,000/-</li>
                    <li>Enter <strong>PAN in UPPERCASE</strong></li>
                </ul>
                <li>You will receive a donation acknowledgement receipt, after a successful transaction, from <code>donations.ssljssdkmtt@gmail.com</code></li>
                <li>Please make sure to enter the correct details for Name, Address, <u>Email</u>, PAN or Aadhaar Number.</li>
                <ul>
                    <li><u>If the email is mistyped, you may not receive the donation acknowledgement receipt email.</u></li>
                </ul>
                <li>Please <strong>not enter multiple names</strong> in the <strong>First Name</strong> and <strong>Last Name</strong> fields. Make use of the <strong>Message from Donors</strong> field to enter additional information, if any.</li> 
                <li>If the transaction is successful and you don't see the email in your inbox you may please check your spam folder.</li>
                <li>For any help regarding online donations, please contact us at <code>donations.ssljssdkmtt@gmail.com</code> and also enter the title of the email as <strong>Query Regarding Online Donations</strong></li>
            </ul>
        </ul>
        <hr/>
        <ul>
            <li class="text fw-bold">Instruction for International Donors</li>
            <ul>
                <li>The minimum donation for online donation is $ 5</li>
                <li><strong><u>Passport Number / Tax Identification Number is mandatory</u></strong></li>
                <ul>
                    <li>As per the Foreign Contribution (Regulation) Act 2010, of India, accepting donations from an Indian citizen in the FC account will be a major violation of FCRA 2010. It will create a problem for us from the Ministry of Home Affairs, Government of India. <strong>Citizenship</strong> is the key point for ascertaining a contribution whether it is Foreign Contribution or an Indian Contribution.</li>
                </ul>
                <li>You will receive a donation acknowledgement receipt, after a successful transaction, from <code><strong>donations.ssljssdkmtt@gmail.com</strong></code></li>
                <li>Please make sure to enter the correct details for Name, Address, <u>Email</u>.</li>
                <ul>
                    <li><u>If the email is mistyped, you may not receive the donation acknowledgement receipt email.</u></li>
                </ul>
                <!-- <li>Please <strong>not enter multiple names</strong> in the <strong>First Name</strong> and <strong>Last Name</strong> fields. Make use of the <strong>Message from Donors</strong> field to enter additional information, if any.</li>  -->
                <li>If the transaction is successful and you don't see the email in your inbox you may please check your spam folder.</li>
                <li>For any help regarding online donations, please contact us at <code><strong>donations.ssljssdkmtt@gmail.com</strong></code> and also enter the title of the email as <strong>Query Regarding Online Donations</strong></li>
            </ul>
        </ul>
    </div>
    <hr/>
    <div class="row m-3 p-3">
        <div class="col-md-6">
            <div class="card text-center">
                <img src="../../../assets/icons/online-payment-icon.png" class="donate-card-icon" alt="donation-online-image">
                <div class="card-body">
                  <h5 class="card-title">Donate Online</h5>
                  <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p>
                  <a routerLink="./online" class="btn btn-primary m-2">Proceed to Donate Online</a>
                  <!-- <a routerLink="./online" class="btn btn-primary m-2">Proceed to Donate Online</a> -->
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <img src="../../../assets/images/vectors/offline-donation.png" class="donate-card-icon" alt="donation-offline-image">
                <div class="card-body">
                  <h5 class="card-title">Donate Offline</h5>
                  <p class="card-text">We accept donations in offline through A/C Payee Cheques, Demad Drafts and Money Order.</p>
                  <a routerLink="./offline" class="btn btn-primary">Proceed to Donate Offline</a>
                </div>
              </div>
        </div>
    </div>

</div>