<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
        <span class="text fw-bold">{{currentDate}} {{currentMonth}} {{currentYear}}, {{currentTime}}</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">
            <button class="btn btn-warning me-md-2" routerLink="/sitemap">Site Map</button>
            <div class="btn-group">
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Accessibility
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                  </ul>
            </div>
            <div class="btn-group">
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Language
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                  </ul>
            </div>
            <!-- <div class="btn-group">
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Large button
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                  </ul>
            </div>
            <div class="btn-group">
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Large button
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                  </ul>
            </div> -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
  </nav>

<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-light" href="home">
          <img src="../../../assets/logos/header-logo.png" alt="Header Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">
            <div class="d-grip gap-6 d-md-flex">
                <button class="btn btn-danger me-md-2 fw-bold" routerLink="home">Home</button>
                <button class="btn btn-danger me-md-2 fw-bold" routerLink="about-us">About Us</button>
                <button class="btn btn-danger me-md-2 fw-bold" routerLink="idols-and-temples">Idols & Temples</button>
                <button class="btn btn-danger me-md-2 fw-bold" routerLink="nearby-temples">Nearby Temples</button>
                <button class="btn btn-danger me-md-2 fw-bold" routerLink="media">Media</button>
                <button class="btn btn-danger me-md-2 fw-bold" routerLink="donate-to-us">Donate To Us</button>
                <button class="btn btn-danger me-md-2 fw-bold" routerLink="contact-us">Contact Us</button>
            </div>
            <div class="d-grid gap-6 d-md-flex">
                <button class="btn btn-warning me-md-2 fw-bold" routerLink="/login">Login</button>
            </div>
        </div>
    </div>
  </nav>