<div class="container mt-3" style="width: 100%;">
    <div class="alert alert-info" role="alert">
        <h4 class="text text-center text-uppercase">some important information</h4>
        <ul>
            <li>Donations to Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust may be sent through Cheques, Demand Drafts or Money Orders.</li>
            <li>Account payee cheques and Demand Drafts should be drawn in favour of <strong>Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust</strong>.</li>
            <li>Please DO NOT forget to fill up the donations form. Please note that the form MUST be submitted before the cheque or demand draft is realised.</li>
            <ul>
                <li>It is advisable to fillup the form before sending the cheque or demand draft or money order.</li>
            </ul>
            <li>Donations to Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust is used for the following purposes:</li>
            <ul>
                <li>Daily Worship (Nitya Seva)</li>
                <li>Various Periodic Special Pujas on Purnima, Amavasya, Ekadashi &amp; other days.</li>
                <li>Kali Puja</li>
                <li>Maintainance of the Temples.</li>
            </ul>
            <li>The cheques / demand drafts / money orders, if send through post, must be sent to:</li>
            <ul>
                <span class="text text-primary fw-bold">
                    The Treasurer,<br/>
                    Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust,<br/>
                    Village: Gangadaspur,<br/>
                    Post Office & Police Station: Chandrakona,<br/>
                    District: Paschim Medinipur,<br/>
                    West Bengal, INDIA<br/>
                    PIN Code: 721232
                </span>
            </ul>
            <li>Receipt for the donation will be sent only after realizing the money.</li>
        </ul>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" routerLink="../donations-form">Click Here for Donations Form</button>
        </div>
    </div>
</div>