<div class="container mt-3">
    <div class="alert alert-info" role="alert">
        <h4 class="text text-center text-uppercase">some important information</h4>
        <hr/>
        <ul>
            <li>Donations to Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust may be sent through RTGS, NEFT, IMPS or BHIM UPI.</li>
            <!-- <li>Account payee cheques and Demand Drafts should be drawn in favour of <strong>Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust</strong>.</li> -->
            <li>Please DO NOT forget to fill up the donations form. Please note that the form MUST be submitted within 24 hours of a successful online transaction.</li>
            <!-- <ul>
                <li>It is advisable to fillup the form before sending the cheque or demand draft or money order.</li>
            </ul> -->
            <li>Donations to Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust is used for the following purposes:</li>
            <ul>
                <li>Daily Worship (Nitya Seva)</li>
                <li>Various Periodic Special Pujas on Purnima, Amavasya, Ekadashi &amp; other days.</li>
                <li>Kali Puja</li>
                <li>Maintainance of the Temples.</li>
            </ul>
            <li>Receipt for the donation will be sent only after realizing the money.</li>
        </ul>
        <div class="d-grid gap-2 col-md-6 col-sm-6 mx-auto">
            <button class="btn btn-primary" routerLink="../donations-form">Click Here for Donations Form</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="alert alert-warning">
                <h4 class="text text-center text-uppercase">details for bank transfer</h4>
                <hr/>
                <ul>
                    <li>The details for donation through RTGS, NEFT or IMPS is as below:</li>
                    <ul>
                        <div class="container">
                            <span>
                                <strong>Name of the Account Holder : </strong>Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust<br/>
                                <strong>Account Number : </strong>000000000000000000000000<br/>
                                <strong>Name of the Bank : </strong>XYZ Bank<br/>
                                <strong>Name of the Branch : </strong>Chandrakona<br/>
                                <strong>IFSC Code : </strong>ABIN99999999<br/>
                                <strong>MICR : </strong>XXXXXXXXXXXXXX<br/>
                            </span>
                        </div>
                    </ul>
                    <li>Please fillup the donations form mandatorily after a successful transaction.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="alert alert-warning">
                <h4 class="text text-center text-uppercase">details for bhim UPI</h4>
                <hr/>
                <div class="row">
                    <div class="col-md-8 col-sm-6">
                        <ul>
                            <li>The details for donation through BHIM UPI is as below:</li>
                            <ul>
                                <div class="container">
                                    <span>
                                        <strong>BHIM UPI ID / VPA : </strong>ssljssdkmtt108@okxyz<br/>
                                        <strong>Mobile Number : </strong>9999009999
                                    </span>
                                </div>
                            </ul>
                            <li>The donation can also be made by scanning the QR Code.</li>
                            <li>Please fillup the donations form mandatorily after a successful transaction.</li>
                        </ul>
                        <!-- <img src="../../../../assets/images/vectors/qr-code.png" alt="bhim-upi-qr-code"> -->
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <img src="../../../../assets/images/vectors/qr-code.png" alt="bhim-upi-qr-code">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--RAZORPAY PAYMENTS-->
    <div class="alert alert-danger" role="alert">
        <h4 class="text text-center text-uppercase">pay through Razorpay</h4>
        <hr/>
        <ul>
            <li>Donations to Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust may be sent through RTGS, NEFT, IMPS or BHIM UPI.</li>
            <li>Please DO NOT forget to fill up the donations form. Please note that the form MUST be submitted within 24 hours of a successful online transaction.</li>
            <li>Donations to Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata Temple Trust is used for the following purposes:</li>
            <ul>
                <li>Daily Worship (Nitya Seva)</li>
                <li>Various Periodic Special Pujas on Purnima, Amavasya, Ekadashi &amp; other days.</li>
                <li>Kali Puja</li>
                <li>Maintainance of the Temples.</li>
            </ul>
            <li>Receipt for the donation will be sent only after realizing the money.</li>
        </ul>
        <div class="d-grid gap-2 col-md-6 col-sm-6 mx-auto">
            <button class="btn btn-danger" (click)="initiatePayment()">Click Here for RazorPay payments</button>
        </div>
    </div>
</div>