<div class="container mt-3 p-3">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="alert alert-warning">
                <h4 class="text text-center text-uppercase">
                    about us 
                </h4>
                <hr/>
                <span class="text">
                    Welcome to the official website of <strong>Sri Sri Lakshmi Janardana & Sri Sri Dakshina Kali Mata temple Trust</strong>. It is a non-decript pair of temples that are maintained by the family of the Kar Sarkars. It is located in the village of Gangadaspur, near the town of Kshirpai, under the Chandrakona Police Station in the district of Paschim Medinipur of the district of West Bengal in Republic of India. However, its heritage status is undisputed as the temples are more than hundred years old and have recently been renovated by the family of Kar Sarkars who have been maintaining these temples since inception.
                </span>
                <hr/>
                <div class="text text-center">
                    <button routerLink="../about-us" class="btn btn-warning"><strong>Click To Know More</strong></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="alert alert-warning">
                <h4 class="text text-center text-uppercase">
                    how to reach
                </h4>
                <hr/>
                <table class="table table-striped">
                    <tr>
                        <th>Nearest Bus Stops</th>
                        <td colspan="2">
                            <span data-bs-toggle="modal" data-bs-target="#staticBackdrop" title="Click for Directions">Kshirpai Chowkan</span>
                            <span data-bs-toggle="modal" data-bs-target="#staticBackdrop">Kshirpai Halderdighi</span>
                            <!-- Kshirpai Chowkan, Kshirpai Halderdighi -->
                        </td>
                    </tr>
                    <tr>
                        <th>Nearest Railway Station</th>
                        <td>Goghat, Kamarpukur <strong>(Eastern Railways)</strong></td>
                        <td>Panskura, Medinipur, Chandrakona Road <strong>(South Eastern Railways)</strong></td>
                    </tr>
                    <tr>
                        <th>Nearest Airport</th>
                        <td colspan="2">Netaji Subhas Chandra Bose International Airport, Kolkata</td>
                    </tr>
                    <!-- <tr>
                        <th>Nearest Waterway</th>
                        <td colspan="2">The rivers, canals and water streams found in the vicinity are used for drainage and irrigation purposes.</td>
                    </tr> -->
                </table>
                <hr/>
                <div class="text text-center">
                    <a class="btn btn-warning m-3" href="https://www.google.com/maps/@22.7152661,87.6253274,21z?entry=ttu" target="_blank" title="Google Maps - Opens in an external tab"><strong>Click To Locate Us</strong></a>
                    <!-- <button class="btn btn-primary m-3" (click)="showDirections()"><strong>Click for Directions</strong></button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="alert alert-warning">
                <h4 class="text text-center text-uppercase">
                    festival calendar
                </h4>
                <hr/>
                <iframe src="https://calendar.google.com/calendar/embed?src=en.indian%23holiday%40group.v.calendar.google.com&ctz=Asia%2FKolkata" style="border: 0" width="100%" height="480" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        <!-- <div class="col-6">
            <div class="alert alert-dark">
                <h4 class="text text-center text-uppercase">
                    festivals &amp; events
                </h4>
                <hr/>
                <button type="button" class="btn btn-info m-3">Poila Baisakh</button>
                <button type="button" class="btn btn-primary m-3">Akshay Tritiya</button>
                <button type="button" class="btn btn-success m-3">Buddha Jayanti</button>
                <button type="button" class="btn btn-warning m-3">Warning</button>
                <button type="button" class="btn btn-danger m-3">Danger</button> 
                <button type="button" class="btn btn-info m-3">Poila Baisakh</button>
                <button type="button" class="btn btn-primary m-3">Akshay Tritiya</button>
                <button type="button" class="btn btn-success m-3">Buddha Jayanti</button>
                <button type="button" class="btn btn-warning m-3">Warning</button>
                <button type="button" class="btn btn-danger m-3">Danger</button> 
                <button type="button" class="btn btn-info m-3">Poila Baisakh</button>
                <button type="button" class="btn btn-primary m-3">Akshay Tritiya</button>
                <button type="button" class="btn btn-success m-3">Buddha Jayanti</button>
                <button type="button" class="btn btn-warning m-3">Warning</button>
                <button type="button" class="btn btn-danger m-3">Danger</button> 
                <button type="button" class="btn btn-info m-3">Poila Baisakh</button>
                <button type="button" class="btn btn-primary m-3">Akshay Tritiya</button>
                <button type="button" class="btn btn-success m-3">Buddha Jayanti</button>
                <button type="button" class="btn btn-warning m-3">Warning</button>
                <button type="button" class="btn btn-danger m-3">Danger</button> 
                <button type="button" class="btn btn-info m-3">Poila Baisakh</button>
                <button type="button" class="btn btn-primary m-3">Akshay Tritiya</button>
                <button type="button" class="btn btn-success m-3">Buddha Jayanti</button>
                <button type="button" class="btn btn-warning m-3">Warning</button>
                <button type="button" class="btn btn-danger m-3">Danger</button>                
            </div>
        </div> -->
    </div>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div>
          </div>
        </div>
      </div>
</div>