<!--FACEBOOK    INSTAGRAM   TWITTER     YOUTUBE     EMAIL   WEBSITE-->
<div class="container mt-3">
    <div class="row m-3 p-3">
        <div class="col-md-4 mt-2">
            <div class="card text-center">
                <img src="../../../assets/icons/photos-icon.png" class="media-card-icon" alt="Photos">
                <div class="card-body">
                  <a href="https://drive.google.com/drive/folders/" class="btn btn-secondary" title="Photos - Opens in an external tab" target="_blank">Click Here for Photos</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card text-center">
                <img src="../../../assets/icons/video-icon.png" class="media-card-icon" alt="Videos">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Lakshmi Janardana Idol & Temple</h5>
                  <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p> -->
                  <a href="https://drive.google.com/drive/folders/" class="btn btn-secondary" title="Videos - Opens in an external tab" target="_blank">Click Here for Videos</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card text-center">
                <img src="../../../assets/icons/audio-icon.png" class="media-card-icon" alt="Audios" [ngStyle]="{color: iconColor}">
                <div class="card-body">
                  <!-- <h5 class="card-title">Sri Sri Dakshina Kali Mata Idol & Temple</h5>
                  <p class="card-text">We accept donations in offline through A/C Payee Cheques, Demad Drafts and Money Order.</p> -->
                  <a href="https://drive.google.com/drive/folders/" class="btn btn-secondary" title="Audios - Opens in an external tab" target="_blank">Click Here for Audios</a>
                </div>
              </div>
        </div>
    </div>
</div>