<div class="container mt-3">
    <div class="row m-3">
        <div class="col-md-6">
            <div class="card text-center">
                <img src="../../../assets/images/vectors/krishna-vector.png" class="idols-card-icon" alt="sri-sri-lakshmi-janardana-idol-and-temple">
                <hr/>
                <div class="card-body">
                  <h5 class="card-title">Sri Sri Lakshmi Janardana Idol & Temple</h5>
                  <!-- <p class="card-text">We accept donations in online mode throught NEFT, RTGS, IMPS and BHIM UPI.</p> -->
                  <a routerLink="lakshmi-janardana" class="btn btn-warning">Proceed to Know More</a>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <img src="../../../assets/images/vectors/kali-vector.png" class="idols-card-icon" alt="sri-sri-dakshina-kali-mata-idol-and-temple">
                <hr/>
                <div class="card-body">
                  <h5 class="card-title">Sri Sri Dakshina Kali Mata Idol & Temple</h5>
                  <!-- <p class="card-text">We accept donations in offline through A/C Payee Cheques, Demad Drafts and Money Order.</p> -->
                  <a routerLink="dakshina-kali" class="btn btn-primary">Proceed to Know More</a>
                </div>
              </div>
        </div>
    </div>
</div>